src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:facebook="http://www.mulesoft.org/schema/mule/facebook"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/facebook http://www.mulesoft.org/schema/mule/facebook/2.0/mule-facebook.xsd">

	<context:property-placeholder location="automation-credentials.properties" />

	<facebook:config-with-oauth name="Facebook" appId="${facebook.appId}" appSecret="${facebook.appSecret}" 
			scope="read_stream,manage_pages,publish_stream,user_photos,publish_actions,rsvp_event">
		<facebook:oauth-callback-config domain="${facebook.domain}"
			localPort="${facebook.localPort}" remotePort="${facebook.remotePort}"
			path="${facebook.path}" />
	</facebook:config-with-oauth>

	<flow name="get-user" doc:name="get-user">
		<facebook:get-user config-ref="Facebook" user="#[payload.username]"
			accessTokenId="accessTokenId" doc:name="Facebook" />
	</flow>

	<flow name="get-user-home" doc:name="get-user-home">
		<facebook:get-user-home config-ref="Facebook" user="#[payload.user]" limit="#[payload.limit]" offset="#[payload.offset]" 
			since="#[payload.since]" until="#[payload.until]" accessTokenId="accessTokenId" />
<!-- 		<facebook:get-user-home config-ref="Facebook" user="100006735154543" accessTokenId="accessTokenId" /> -->
	</flow>

	<flow name="get-album">
		<facebook:get-album config-ref="Facebook" album="#[payload.album]"
			accessTokenId="accessTokenId" />
	</flow>

	<flow name="publish-album">
		<facebook:publish-album config-ref="Facebook"
			albumName="#[payload.albumName]" msg="#[payload.msg]" profile_id="#[payload.profileId]"
			accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-status">
		<facebook:get-status config-ref="Facebook" status="#[payload.status]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-post">
		<facebook:get-post config-ref="Facebook" post="#[payload.post]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="get-application-albums">
		<facebook:get-application-albums
			config-ref="Facebook" application="#[payload.application]"
			accessTokenId="accessTokenId" until="#[payload.until]" />
	</flow>

	<flow name="get-page">
		<facebook:get-page config-ref="Facebook" page="#[payload.page]"
			accessTokenId="accessTokenId" />
	</flow>

	<flow name="like">
		<facebook:like config-ref="Facebook" postId="#[payload.postId]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="dislike">
		<facebook:dislike config-ref="Facebook" postId="#[payload.postId]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="get-page-albums">
		<facebook:get-page-albums config-ref="Facebook"
			page="#[payload.page]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="delete-object">
		<facebook:delete-object config-ref="Facebook"
			objectId="#[payload.objectId]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-status-comments">
		<facebook:get-status-comments config-ref="Facebook" status="#[payload.status]" until="#[payload.until]" since="#[payload.since]" 
			limit="#[payload.limit]" offset="#[payload.offset]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-user-posts">
		<facebook:get-user-posts config-ref="Facebook" user="#[payload.user]" until="#[payload.until]" since="#[payload.since]" 
			limit="#[payload.limit]" offset="#[payload.offset]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-user-wall">
		<facebook:get-user-wall config-ref="Facebook" user="#[payload.user]" until="#[payload.until]" since="#[payload.since]" 
			limit="#[payload.limit]" offset="#[payload.offset]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="get-post-comments">
		<facebook:get-post-comments config-ref="Facebook" post="#[payload.post]" until="#[payload.until]" since="#[payload.since]" 
			limit="#[payload.limit]" offset="#[payload.offset]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="get-user-albums">
		<facebook:get-user-albums config-ref="Facebook"
			user="#[payload.user]" since="#[payload.since]" until="#[payload.until]"
			limit="#[payload.limit]" offset="#[payload.offset]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="publish-event">
		<facebook:publish-event config-ref="Facebook"
			profile_id="#[payload.profileId]" start_time="#[payload.startTime]" event_name="#[payload.eventName]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="publish-photo">
		<facebook:publish-photo config-ref="Facebook"
			albumId="#[payload.albumId]" caption="#[payload.caption]" photo-ref="#[payload.photoRef]"
			accessTokenId="accessTokenId" />
	</flow>

	<flow name="logged-user-details">
		<facebook:logged-user-details config-ref="Facebook"
			accessTokenId="accessTokenId" />
	</flow>

	<flow name="publish-message">
		<facebook:publish-message profile_id="#[payload.profileId]"
			msg="#[payload.msg]" accessTokenId="accessTokenId" />
	</flow>

	<flow name="download-image">
		<facebook:download-image accessTokenId="accessTokenId"
			config-ref="Facebook" imageUri="#[payload.imageUri]" />
	</flow>

	<flow name="publish-comment">
		<facebook:publish-comment accessTokenId="accessTokenId"	config-ref="Facebook" postId="#[payload.postId]" msg="#[payload.msg]" />
	</flow>

	<flow name="get-album-photos">
		<facebook:get-album-photos accessTokenId="accessTokenId"
			config-ref="Facebook" album="#[payload.album]" limit="#[payload.limit]"
			offset="#[payload.offset]" since="#[payload.since]" until="#[payload.until]" />
	</flow>

	<flow name="get-album-comments">
		<facebook:get-album-comments
			accessTokenId="accessTokenId" config-ref="Facebook" album="#[payload.album]"
			limit="#[payload.limit]" offset="#[payload.offset]" since="#[payload.since]"
			until="#[payload.until]" />
	</flow>

	<flow name="get-application">
		<facebook:get-application accessTokenId="accessTokenId"
			config-ref="Facebook" application="#[payload.application]" />
	</flow>
	
	<flow name="publish-note">
		<facebook:publish-note profile_id="#[payload.profileId]"
			msg="#[payload.msg]" config-ref="Facebook"  accessTokenId="accessTokenId" subject="#[payload.subject]" />
	</flow>
	
	<flow name="get-event">
		<facebook:get-event config-ref="Facebook" accessTokenId="accessTokenId" eventId="#[payload.eventId]"/>
	</flow>
		
	<flow name="search-checkins">
	       <facebook:search-checkins config-ref="Facebook"  until="now"  accessTokenId="accessTokenId"  />
	</flow>

	<flow name="publish-link">
			<facebook:publish-link profile_id="#[payload.profileId]" msg="#[payload.msg]" accessTokenId="accessTokenId" link="#[payload.link]"/>	
	</flow>

	<flow name="get-link">
			<facebook:get-link config-ref="Facebook" link="#[payload.messageId]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-event-attending">
		<facebook:get-event-attending accessTokenId="accessTokenId" config-ref="Facebook" 
			eventId="#[payload.eventId]" limit="#[payload.limit]" offset="#[payload.offset]" since="#[payload.since]" until="#[payload.until]"/>
	</flow>
	
	<flow name="attend-event">
       <facebook:attend-event config-ref="Facebook" eventId="#[payload.eventId]" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="publish-message-with-link">
		<facebook:publish-message profile_id="#[payload.profileId]"
			msg="#[payload.msg]" accessTokenId="accessTokenId" link="#[payload.link]" />
	</flow>

	<flow name="decline-event">
       <facebook:decline-event config-ref="Facebook" eventId="#[payload.eventId]" accessTokenId="accessTokenId" />
    </flow>
    
	<flow name="get-user-notes">
		<facebook:get-user-notes config-ref="Facebook" user="#[payload.profileId]" until="now" accessTokenId="accessTokenId" />
	</flow>
	
	<flow name="get-event-declined">
		<facebook:get-event-declined accessTokenId="accessTokenId" config-ref="Facebook" 
			eventId="#[payload.eventId]" limit="#[payload.limit]" offset="#[payload.offset]" since="#[payload.since]" until="#[payload.until]"/>
	</flow>

	<flow name="get-note">
		<facebook:get-note note="#[payload.noteid]" config-ref="Facebook" accessTokenId="accessTokenId"/>
	</flow>	
</mule>