src/test/resources/facebook-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file was automatically generated by the Mule Cloud Connector Development Kit

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:facebook="http://www.mulesoft.org/schema/mule/facebook"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/facebook http://www.mulesoft.org/schema/mule/facebook/1.0-SNAPSHOT/mule-facebook.xsd">

        <!--
           Declare one flow like this one per element you add in your schema.

           See the comment in FacebookNamespaceHandlerTestCase for an example how to send
           Mule events directly to this flow.

       <flow name="theFlow">
           <facebook:operation parameter="#[payload]"/>
       </flow>
        -->
</mule>
