src/test/resources/facebook-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file was automatically generated by the Mule Cloud Connector Development Kit

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:facebook="http://www.mulesoft.org/schema/mule/facebook" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/facebook http://www.mulesoft.org/schema/mule/facebook/2.0/mule-facebook.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">

	<spring:beans>
		<spring:bean id="my-object-store" class="org.mule.util.store.InMemoryObjectStore" />
	</spring:beans>
	
    <facebook:config-with-oauth name="facebook-config" consumerKey="my_app_id" consumerSecret="my_app_secret">
    	<facebook:oauth-callback-config  domain="localhost" localPort="8080" remotePort="80" async="false" path="oauth2callback" />
    	<facebook:oauth-store-config objectStore-ref="my-object-store"/>
    </facebook:config-with-oauth>
    
    <flow name="authorize-flow">
      <facebook:authorize config-ref="facebook-config"/>
    </flow>

    <flow name="a">
        <facebook:attend-event config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:decline-event config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:delete-object config-ref="facebook-config" objectId="#[map-payload:objectId]"/>
        <facebook:dislike config-ref="facebook-config" postId="#[map-payload:postId]"/>
        <facebook:get-album config-ref="facebook-config" album="#[map-payload:album]"/>
        <facebook:get-album-comments config-ref="facebook-config" album="#[map-payload:album]"/>
        <facebook:get-album-photos config-ref="facebook-config" album="#[map-payload:album]"/>
        <facebook:get-application config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-albums config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-events config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-insights config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-links config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-notes config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-photos config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-picture config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-statuses config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-tagged config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-videos config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-application-wall config-ref="facebook-config" application="#[map-payload:application]"/>
        <facebook:get-checkin config-ref="facebook-config" checkin="#[map-payload:checkin]"/>
        <facebook:get-event config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:get-event-attending config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:get-event-declined config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:get-event-invited config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:get-event-maybe config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:get-event-no-reply config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:get-event-picture config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:get-event-wall config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
        <facebook:get-group config-ref="facebook-config" group="#[map-payload:group]"/>
        <facebook:get-group-members config-ref="facebook-config" group="#[map-payload:group]"/>
        <facebook:get-group-picture config-ref="facebook-config" group="#[map-payload:group]"/>
        <facebook:get-group-wall config-ref="facebook-config" group="#[map-payload:group]"/>
        <facebook:get-link config-ref="facebook-config" link="#[map-payload:link]"/>
        <facebook:get-link-comments config-ref="facebook-config" link="#[map-payload:link]"/>
        <facebook:get-note config-ref="facebook-config" note="#[map-payload:note]"/>
        <facebook:get-note-comments config-ref="facebook-config" note="#[map-payload:note]"/>
        <facebook:get-note-likes config-ref="facebook-config" note="#[map-payload:note]"/>
        <facebook:get-page config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-albums config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-checkins config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-events config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-groups config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-links config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-notes config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-photos config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-picture config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-posts config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-statuses config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-tagged config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-videos config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-page-wall config-ref="facebook-config" page="#[map-payload:page]"/>
        <facebook:get-photo config-ref="facebook-config" photo="#[map-payload:photo]"/>
        <facebook:get-photo-comments config-ref="facebook-config" photo="#[map-payload:photo]"/>
        <facebook:get-photo-likes config-ref="facebook-config" photo="#[map-payload:photo]"/>
        <facebook:get-post config-ref="facebook-config" post="#[map-payload:post]"/>
        <facebook:get-post-comments config-ref="facebook-config" post="#[map-payload:post]"/>
        <facebook:get-status config-ref="facebook-config" status="#[map-payload:status]"/>
        <facebook:get-status-comments config-ref="facebook-config" status="#[map-payload:status]"/>
        <facebook:get-user config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-albums config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-accounts config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-activities config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-albums config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-books config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-checkins config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-events config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-friends config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-groups config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-home config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-inbox config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-interests config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-likes config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-links config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-movies config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-music config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-notes config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-outbox config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-photos config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-picture config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-posts config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-search config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-statuses config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-tagged config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-television config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-updates config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-videos config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-user-wall config-ref="facebook-config" user="#[map-payload:user]"/>
        <facebook:get-video config-ref="facebook-config" video="#[map-payload:video]"/>
        <facebook:get-video-comments config-ref="facebook-config" video="#[map-payload:video]"/>
        <facebook:like config-ref="facebook-config" postId="#[map-payload:postId]"/>
        <facebook:publish-album config-ref="facebook-config" profile_id="#[map-payload:profileId]" msg="#[map-payload:msg]" albumName=""/>
        <facebook:publish-comment config-ref="facebook-config" postId="#[map-payload:postId]" msg="#[map-payload:msg]"/>
        <facebook:publish-event config-ref="facebook-config" profile_id="#[map-payload:profileId]" event_name="#[map-payload:event_name]" start_time="#[map-payload:start_time]" />
        <facebook:publish-link config-ref="facebook-config" profile_id="#[map-payload:profileId]" msg="#[map-payload:msg]"
                               link="#[map-payload:link]"/>
        <facebook:publish-message config-ref="facebook-config" profile_id="#[map-payload:profileId]" msg="#[map-payload:msg]"/>
        <facebook:publish-note config-ref="facebook-config" profile_id="#[map-payload:profileId]" msg="#[map-payload:msg]"
                               subject="#[map-payload:subject]"/>
        <facebook:publish-photo config-ref="facebook-config" albumId="#[map-payload:albumId" caption="#[map-payload:caption]"
                                photo-ref="#[map-payload:photo]"/>
        <facebook:tentative-event config-ref="facebook-config" eventId="#[map-payload:eventId]"/>
    </flow>
</mule>
